@import "tailwindcss";

@import "./theme.css";
@import "./animations.css";

html::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
  scroll-behavior: smooth;
}