@theme {
  --color-base-100: var(--theme-base-100);
  --color-base-200: var(--theme-base-200);
  --color-base-300: var(--theme-base-300);
  --color-base-content: var(--theme-base-content);
  --color-neutral: var(--theme-neutral);
  --color-neutral-content: var(--theme-neutral-content);

  --color-primary: var(--theme-primary);
  --color-primary-content: var(--theme-primary-content);
  --color-secondary: var(--theme-secondary);
  --color-secondary-content: var(--theme-secondary-content);

  --color-base-dark: var(--theme-base-dark);
  --color-base-dark-content: var(--theme-base-dark-content);
  --color-light-blue: var(--theme-light-blue);
  --color-light-blue-content: var(--theme-light-blue-content);

  --color-spotlight: var(--theme-spotlight);
  --color-spotlight-content: var(--theme-spotlight-content);
  --color-neutral-variant: var(--theme-neutral-variant);
  --color-neutral-variant-content: var(--theme-neutral-variant-content);
  --color-blackwhite: var(--theme-blackwhite);

  --color-accent: var(--theme-accent);
  --color-accent-content: var(--theme-accent-content);
  --color-info: var(--theme-info);
  --color-info-content: var(--theme-info-content);
  --color-success: var(--theme-success);
  --color-success-content: var(--theme-success-content);
  --color-warning: var(--theme-warning);
  --color-warning-content: var(--theme-warning-content);
  --color-error: var(--theme-error);
  --color-error-content: var(--theme-error-content);
}

:root, [data-theme="dark"] {
  color-scheme: dark;
  --theme-base-100: oklch(37% 0.044 257.287);
  --theme-base-200: oklch(27% 0.041 260.031);
  --theme-base-300: oklch(20% 0.042 265.755);
  --theme-base-content: oklch(96% 0.003 264.542);

  --theme-primary: oklch(0.3516 0.1331 267);
  --theme-primary-content: oklch(89.63% 0.048 266.64);
  --theme-secondary: oklch(0.943 0.0734 106.05);
  --theme-secondary-content: oklch(0.289 0.0483 85.17);

  --theme-base-dark: oklch(13% 0.028 261.692);
  --theme-base-dark-content: oklch(0.9275 0.0248 257.65);
  --theme-light-blue: oklch(0.8868 0.1098 204.04);
  --theme-light-blue-content: oklch(0.2671 0.056 229.695);

  --theme-spotlight: oklch(0.943 0.0734 106.05);
  --theme-spotlight-content: oklch(20% 0.042 265.755);
  --theme-neutral-variant: oklch(37% 0.013 285.805);
  --theme-neutral-variant-content: oklch(0.9187 0.0135 286.13);
  --theme-blackwhite: oklch(0% 0 0);

  --theme-accent: oklch(0.8868 0.1098 204.04);
  --theme-accent-content: oklch(0.2671 0.056 229.695);
  --theme-neutral: oklch(50% 0.03 256.802);
  --theme-neutral-content: oklch(98% 0.002 247.839);
  --theme-info: oklch(60% 0.126 221.723);
  --theme-info-content: oklch(98% 0.019 200.873);
  
  --theme-success: oklch(62% 0.194 149.214);
  --theme-success-content: oklch(98% 0.018 155.826);
  --theme-warning: oklch(66% 0.179 58.318);
  --theme-warning-content: oklch(98% 0.022 95.277);
  --theme-error: oklch(57% 0.245 27.325);
  --theme-error-content: oklch(97% 0.013 17.38);
}

[data-theme="light"] {
  color-scheme: light;
  --theme-base-100: oklch(92% 0.013 255.508);
  --theme-base-200: oklch(86% 0.022 252.894);
  --theme-base-300: oklch(70% 0.04 256.788);
  --theme-base-content: oklch(20% 0.042 265.755);

  --theme-primary: oklch(0.4805 0.114 253.57);
  --theme-primary-content: oklch(93.35% 0.021 215.26);
  --theme-secondary: oklch(0.898 0.1246 90.32);
  --theme-secondary-content: oklch(0.2428 0.0418 62.09);

  --theme-base-dark: oklch(13% 0.028 261.692);
  --theme-base-dark-content: oklch(0.9275 0.0248 257.65);
  --theme-light-blue: oklch(0.8868 0.1098 204.04);
  --theme-light-blue-content: oklch(0.2671 0.056 229.695);

  --theme-spotlight: oklch(37% 0.013 285.805);
  --theme-spotlight-content: oklch(0.943 0.0734 106.05);
  --theme-neutral-variant: oklch(44% 0.017 285.786);
  --theme-neutral-variant-content: oklch(0.9187 0.0135 286.13);
  --theme-blackwhite: oklch(100% 0 0);

  --theme-accent: oklch(0.3587 0.074 235.73);
  --theme-accent-content: oklch(0.9355 0.0373 196.53);
  --theme-neutral: oklch(44% 0.03 256.802);
  --theme-neutral-content: oklch(98% 0.002 247.839);
  --theme-info: oklch(58% 0.158 241.966);
  --theme-info-content: oklch(98% 0.019 200.873);

  --theme-success: oklch(52% 0.154 150.069);
  --theme-success-content: oklch(98% 0.018 155.826);
  --theme-warning: oklch(55% 0.163 48.998);
  --theme-warning-content: oklch(98% 0.022 95.277);
  --theme-error: oklch(50% 0.213 27.518);
  --theme-error-content: oklch(97% 0.013 17.38);
}
