@import "tailwindcss";

@theme {
  --color-base-100: var(--theme-primary);
  --color-base-200: var(--theme-primary);
  --color-base-300: var(--theme-primary);
  --color-base-content: var(--theme-primary-content);
  --color-neutral: var(--theme-neutral);
  --color-neutral-content: var(--theme-neutral-content);

  --color-primary: var(--theme-primary);
  --color-primary-content: var(--theme-primary-content);
  --color-secondary: var(--theme-secondary);
  --color-secondary-content: var(--theme-secondary-content);

  --color-accent: var(--theme-accent);
  --color-accent-content: var(--theme-accent-content);
  --color-info: var(--theme-info);
  --color-info-content: var(--theme-info-content);
  --color-success: var(--theme-success);
  --color-success-content: var(--theme-success-content);
  --color-warning: var(--theme-warning);
  --color-warning-content: var(--theme-warning-content);
  --color-error: var(--theme-error);
  --color-error-content: var(--theme-error-content);
}

:is([data-theme="light"], [data-theme="light"] *) {
  --color-base-100: oklch(92% 0.013 255.508);
  --color-base-200: oklch(86% 0.022 252.894);
  --color-base-300: oklch(70% 0.04 256.788);
  --color-base-content: oklch(20% 0.042 265.755);

  --color-primary: oklch(0.4805 0.114 253.57);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(0.3516 0.1331 267);
  --color-secondary-content: oklch(100% 0 0);

  --color-accent: oklch(0.8868 0.1098 204.04);
  --color-accent-content: oklch(0.2671 0.056 229.695);
  --color-neutral: oklch(44% 0.03 256.802);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(58% 0.158 241.966);
  --color-info-content: oklch(98% 0.019 200.873);

  --color-success: oklch(52% 0.154 150.069);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(55% 0.163 48.998);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(50% 0.213 27.518);
  --color-error-content: oklch(97% 0.013 17.38);
}

:is([data-theme="dark"], [data-theme="dark"] *) {
  --color-base-100: oklch(37% 0.044 257.287);
  --color-base-200: oklch(27% 0.041 260.031);
  --color-base-300: oklch(20% 0.042 265.755);
  --color-base-content: oklch(96% 0.003 264.542);

  --color-primary: oklch(0.4805 0.114 253.57);
  --color-primary-content: oklch(97% 0.013 236.62);
  --color-secondary: oklch(0.3516 0.1331 267);
  --color-secondary-content: oklch(97% 0.014 254.604);

  --color-accent: oklch(0.8868 0.1098 204.04);
  --color-accent-content: oklch(0.2671 0.056 229.695);
  --color-neutral: oklch(44% 0.03 256.802);
  --color-neutral-content: oklch(98% 0.002 247.839);
  --color-info: oklch(60% 0.126 221.723);
  --color-info-content: oklch(98% 0.019 200.873);

  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(66% 0.179 58.318);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(97% 0.013 17.38);
}

@keyframes float-vertical {
  0%,
  100% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(2px);
  }
}

@keyframes float-horizontal {
  0%,
  100% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
}

@keyframes float-sway {
  0%,
  100% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-1deg);
  }
}

.move-vertical {
  animation: float-vertical 2s ease-in-out 0.5s infinite backwards;
}

.move-horizontal {
  animation: float-horizontal 4s ease-in-out infinite;
}

.move-sway {
  animation: float-sway 4s ease-in-out 1s infinite backwards;
  transform-origin: top center;
}

.ghost-container {
  position: absolute;
  z-index: 40;
  left: 50%;
  transform: translateX(-50%);
}

.ghost-assembly {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  will-change: transform;
}

.ghost-assembly svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#front-hoodie {
  z-index: 40;
}
#right-eye {
  z-index: 39;
}
#left-eye {
  z-index: 39;
}
#nose {
  z-index: 39;
}
#skull {
  z-index: 38;
}
#back-hoodie {
  z-index: 37;
}
#front-cape {
  z-index: 36;
}
#back-cape {
  z-index: 35;
}