.reaperContainer {
  position: absolute;
  z-index: 40;
  left: 50%;
  transform: translateX(-50%);
}

.reaperAssembly {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  will-change: transform;
}

.reaperAssembly svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#front-hoodie {
  z-index: 40;
}
#right-eye {
  z-index: 39;
}
#left-eye {
  z-index: 39;
}
#nose {
  z-index: 39;
}
#skull {
  z-index: 38;
}
#back-hoodie {
  z-index: 37;
}
#front-cape {
  z-index: 36;
}
#back-cape {
  z-index: 35;
}
